{{#paper-sidenav-container class="layout-row layout-xs-column" }}
  {{#paper-sidenav class="md-whiteframe-z2 site-sidenav flex overflow-x-hidden" name="left2" open=open closeOnClick=true onToggle=(action (mut open)) flex-layout="column" flex=true }}
    {{#paper-toolbar tall=true as |toolbar|}}
      {{#paper-toolbar-tools}}
        <div style="text-align:center; margin:auto; padding:20px">
          {{svg-jar "icon" height="140px" width="140px"}}<br/> KUMMERKASTEN
        </div>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content padding=false}}
      {{#paper-list}}
        {{#menu-item active=(is-active "index" currentRouteName) onClick=(transition-to "index")}}{{paper-icon "home" class="site-nav-icon"}}Startseite{{/menu-item}}
        {{#menu-item onClick=(transition-to "review") active=(is-active "review" currentRouteName)}}{{paper-icon "done all" class="site-nav-icon"}}Überprüfen{{/menu-item}}
        {{#menu-item active=(is-active "management.courses" currentRouteName) onClick=(transition-to "management.courses")}}{{paper-icon "rate review" class="site-nav-icon"}}Kurse{{/menu-item}}
        {{#menu-item active=(is-active "management.lecturers" currentRouteName) onClick=(transition-to "management.lecturers")}}{{paper-icon "local library" class="site-nav-icon"}}Dozierende{{/menu-item}}
        {{#menu-item onClick=(transition-to "import") active=(is-active "import" currentRouteName)}}{{paper-icon "cloud download" class="site-nav-icon"}}Import{{/menu-item}}
        {{#menu-item active=(is-active "management.general" currentRouteName) onClick=(transition-to "management.general")}}{{paper-icon "account balance" class="site-nav-icon"}}Sonstiges{{/menu-item}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" class="flex row layout-column overflow-x-hidden" }}
    {{outlet}} {{paper-toaster}}
  {{/paper-content}}

{{/paper-sidenav-container}}
