{{#paper-toolbar}}
   {{#paper-toolbar-tools}}
    {{#paper-sidenav-toggle name="left2" as |toggleAction|}}
            {{#paper-button classNames="hide-gt-sm" iconButton=true onClick=(action toggleAction)}}
      {{paper-icon icon="menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
     <h2>Veranstaltungen importieren</h2>
     <span class="flex"></span>
   {{/paper-toolbar-tools}}
 {{/paper-toolbar}}
 {{#paper-content}}
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Veranstaltungen importieren{{/text.headline}}
      {{#text.subhead}}aus dem LSF{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
  <div class="layout-gt-xs-row" style="justify-content: space-around">
    <div class="flex-gt-xs-80">
      {{paper-input allowClear=true value=(readonly selectedFaculty) onChange=(action (mut selectedFaculty))
      label="Fakultät"}}
    </div>
    <div class="flex-gt-xs-20">
      {{#paper-select required=true label="Semester" options=model selected=selectedSemester onChange=(action (mut selectedSemester)) as |sem|}}
        {{sem.name}}
      {{/paper-select}}
    </div>
  </div>
    <p>
      {{#paper-checkbox value=invite onChange=(action (mut invite))}}
        Email-Einladungen versenden. <strong>Achtung:</strong> Überprüfe, ob du dies tuen willst. Es könnte nicht erlaubt sein.
      {{/paper-checkbox}}
    </p>
    <p>
      {{currentStatus}}
    </p>
  {{/card.content}}
  {{#card.actions}}
    {{#paper-button disabled=importing onClick=(action "startImporting")}} Importieren{{/paper-button}}
  {{/card.actions}}
  {{#if importing}}
    {{paper-progress-linear}}
  {{/if}}
{{/paper-card}}
{{/paper-content}}
