{{#paper-dialog class="flex-77" onClose=(action "exitDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>Bearbeite Dozierendes: {{lecturer.name}}</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action "exitDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#paper-form onSubmit=(action "exitDialog" "ok") as |form|}}
  {{#paper-dialog-content}}

  {{form.input value=lecturer.givenname label="Vorname" required=true onChange=(action (mut lecturer.givenname))}}
  {{form.input value=lecturer.surname label="Nachname" required=true onChange=(action (mut lecturer.surname))}}

  {{form.input value=lecturer.email label="E-Mail" type="email" required=true onChange=(action (mut lecturer.email))}}
  {{form.input value=lecturer.salutation label="Anrede" required=true onChange=(action (mut lecturer.salutation))}}

  {{form.input value=lecturer.lsfid label="LSF-ID" type="number" required=true onChange=(action (mut lecturer.lsfid))}}

  {{/paper-dialog-content}}
  {{#paper-dialog-actions class="layout-row"}}
    <span class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
    {{#paper-button tabindex=4 onClick=(action "exitDialog" "cancel")}}Abbrechen{{/paper-button}}
    {{#paper-button tabindex=3 onClick=(action "exitDialog" "ok") disabled=form.isInvalid}}OK{{/paper-button}}
    </span>
  {{/paper-dialog-actions}}
  {{/paper-form}}
{{/paper-dialog}}
{{yield}}
