{{#paper-dialog class="flex-77" onClose=(action "exitDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>{{title}}</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action "exitDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#paper-form onSubmit=(action "exitDialog" "ok") as |form|}}
  {{#paper-dialog-content}}

      {{form.input value=course.name label="Name" required=true onChange=(action (mut course.name))}}
      {{form.input value=course.lsfId type="number" label="LSF-ID" required=true onChange=(action (mut course.lsfId))}}

    {{#form.select required=true label="Veranstaltungstyp" options=model.coursetypes selected=course.coursetype onChange=(action (mut course.coursetype)) as |ct|}}
    {{ct.name}}
    {{/form.select}}

        {{#form.select required=true label="Fakultät" options=model.faculties selected=course.faculty onChange=(action (mut course.faculty)) as |fac|}}
        {{fac.name}}
        {{/form.select}}

        {{#form.select required=true label="Semester" options=model.semesters selected=course.semester onChange=(action (mut course.semester)) as |sem|}}
        {{sem.name}}
        {{/form.select}}

  {{#paper-chips readOnly=false removeItem=(action "removeLecturer") addItem=(action "addLecturer") placeholder="Dozierendes hinzufügen" searchField="name" content=course.lecturers options=model.lecturers requireMatch=true as |item|}}
                  <em>{{item.givenname}}</em> {{item.surname}}
                  {{/paper-chips}}
{{/paper-dialog-content}}

  {{#paper-dialog-actions class="layout-row"}}
    <span class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
    {{#paper-button onClick=(action "exitDialog" "cancel")}}Abbrechen{{/paper-button}}
    {{#paper-button disabled=form.isInvalid onClick=(action "exitDialog" "ok")}}Speichern{{/paper-button }}
    </span>
  {{/paper-dialog-actions}}
  {{/paper-form}}
{{/paper-dialog}}
{{yield}}
