{{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}
          Neuen Veranstaltungstyp anlegen:
        {{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    {{#paper-form onSubmit=(action "saveCoursetype") as |form|}}
    {{#card.content}}
    <div class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
        <div class="flex-gt-xs-90">
    {{form.input value=name label="Name" required=true onChange=(action (mut name))}}
  </div>
</div>
    {{/card.content}}
    {{#card.actions}}
    {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}Speichern{{/form.submit-button}}
    {{/card.actions}}
    {{/paper-form}}
  {{/paper-card}}
{{#paper-card as |card|}}
{{#card.title as |title|}}
  {{#title.text as |text|}}
    {{#text.headline}}
      {{paper-icon "widgets"}} Veranstaltungstypen
    {{/text.headline}}
  {{/title.text}}
{{/card.title}}
{{#card.content}}
{{#paper-data-table sortProp="name" sortDir="desc" selectable=true as |table|}}
          {{#table.head as |head|}}
            {{head.column}}
            {{#head.column sortProp="name"}}Name{{/head.column}}
            {{#head.column }}Optionen{{/head.column}}
            {{/table.head}}
          {{#table.body as |body|}}
            {{#each (sort-by table.sortDesc model) as |ct|}}
              {{#body.row edit=true as |row|}}
              {{#row.cell}}{{paper-icon "widgets" }}{{/row.cell}}
                {{#row.cell}}{{ct.name}}{{/row.cell}}
                {{#row.cell edit=true as |cell|}}
                {{#paper-button iconButton=true onClick=(action "editCoursetype" ct)}}{{paper-icon "edit"}}{{/paper-button}}
                {{#paper-button iconButton=true onClick=(action "deleteCoursetype" ct)}}{{paper-icon "delete"}}{{/paper-button}}
                {{/row.cell}}
              {{/body.row}}
            {{/each}}
          {{/table.body}}
        {{/paper-data-table}}
{{/card.content}}
{{/paper-card}}
{{#if showEditCoursetypeDialog}}{{edit-coursetype-dialog closeDialog=(action "closeEditDialog") title='Bearbeite Veranstaltungstyp' coursetype=currentCoursetype}}{{/if}}
{{#if showDeleteCoursetypeDialog}}{{delete-dependency-dialog store=store closeDialog=(action "closeDeleteCoursetypeDialog") objekt=currentCoursetype}}{{/if}}
