{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        Neue Veranstaltung anlegen:
      {{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#paper-form onSubmit=(action "saveCourse") as |form|}}
    {{#card.content}}
    <div class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
        <div class="flex-gt-xs-40">
      {{form.input value=name label="Name" required=true onChange=(action (mut name))}}
      </div>
        <div class="flex-gt-xs-40">
      {{form.input value=lsfid type="number" label="LSF-ID" required=true onChange=(action (mut lsfid))}}
    </div>

  </div>
  <div class="layout-gt-xs-row layout-wrap" style="justify-content: space-around">
  <div class="flex-gt-xs-30">
    {{#form.select required=true label="Veranstaltungstyp" options=model.coursetypes selected=coursetype onChange=(action (mut coursetype)) as |ct|}}
    {{ct.name}}
    {{/form.select}}
    </div>
      <div class="flex-gt-xs-30">
        {{#form.select required=true label="Fakultät" options=model.faculties selected=faculty onChange=(action (mut faculty)) as |fac|}}
        {{fac.name}}
        {{/form.select}}
    </div>
      <div class="flex-gt-xs-30">
        {{#form.select required=true label="Semester" options=model.semesters selected=semester onChange=(action (mut semester)) as |sem|}}
        {{sem.name}}
        {{/form.select}}
    </div>
  </div>
  <center>
    <div class="layout-gt-xs-row flex-gt-xs-90 layout-wrap">
  {{#paper-chips readOnly=false removeItem=(action "removeLecturer") addItem=(action "addLecturer") placeholder="Dozierendes hinzufügen" content=selected_lecturers options=model.lecturers requireMatch=true as |item|}}
                  <em>{{item.givenname}}</em> {{item.surname}}
                  {{/paper-chips}}
</div>
</center>
    {{/card.content}}
    {{#card.actions}}
      {{#form.submit-button disabled=form.isInvalid raised=true primary=true}}Speichern{{/form.submit-button}}
    {{/card.actions}}
  {{/paper-form}}
{{/paper-card}}

{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        {{paper-icon "rate review"}} Kurse
      {{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#paper-data-table sortProp="name" sortDir="desc" selectable=true as |table|}}
      {{#table.head as |head|}}
        {{head.column}}
        {{#head.column sortProp="semestername"}}Semester{{/head.column}}
        {{#head.column sortProp="name"}}Name{{/head.column}}
        {{#head.column sortProp="facultyname"}}Fakultät{{/head.column}}
        {{#head.column sortProp="lecturernames"}}Dozierende{{/head.column}}
        {{#head.column sortProp="complaintCount" }}Kommentare{{/head.column}}
        {{#head.column}}Optionen{{/head.column}}
      {{/table.head}}
      {{#table.body as |body|}}
        {{#each (sort-by table.sortDesc model.courses) as |cs|}}
          {{#body.row edit=true as |row|}}
            {{#row.cell}}{{paper-icon "rate review" }}{{/row.cell}}
            {{#row.cell}}{{cs.semestername}}{{/row.cell}}
            {{#row.cell}}{{cs.name}}{{/row.cell}}
            {{#row.cell}}{{cs.facultyname}}{{/row.cell}}
            {{#row.cell}}{{cs.lecturernames}}{{/row.cell}}
            {{#row.cell}}{{cs.complaintCount}}{{/row.cell}}
            {{#row.cell edit=true as |cell|}}
              {{#paper-button iconButton=true onClick=(action "editCourse" cs)}}{{paper-icon "edit"}}{{/paper-button}}
              {{#paper-button iconButton=true onClick=(action "deleteCourse" cs)}}{{paper-icon "delete"}}{{/paper-button}}
            {{/row.cell}}
          {{/body.row}}
        {{/each}}
      {{/table.body}}
    {{/paper-data-table}}
  {{/card.content}}
{{/paper-card}}
{{#if showEditCourseDialog}}{{edit-course-dialog model=model closeDialog=(action "closeEditDialog") title='Bearbeite Veranstaltungstyp' course=currentCourse}}{{/if}}
{{#if showDeleteCourseDialog}}{{delete-course-dialog closeDialog=(action "closeDeleteCourseDialog") course=currentCourse}}{{/if}}
