{{#paper-toolbar}}
   {{#paper-toolbar-tools}}
    {{#paper-sidenav-toggle name="left2" as |toggleAction|}}
            {{#paper-button classNames="hide-gt-sm" iconButton=true onClick=(action toggleAction)}}
      {{paper-icon icon="menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
     <h2>Verwaltung {{paper-icon "chevron right"}} Dozierende</h2>
     <span class="flex"></span>
   {{/paper-toolbar-tools}}
 {{/paper-toolbar}}
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        Neues Dozierendes anlegen:
      {{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#paper-form onSubmit=(action "saveLecturer") as |form|}}
    {{#card.content}}
    <div class="layout-column">
      <div class="layout-gt-xs-row layout-wrap space-around">
        <div class="flex-gt-xs-45">
          {{form.input value=givenname label="Vorname" required=true onChange=(action (mut givenname))}}
        </div>
        <div class="flex-gt-xs-45">
          {{form.input value=surname label="Nachname" required=true onChange=(action (mut surname))}}
        </div>
      </div>
      <div class="layout-gt-xs-row layout-wrap space-around">
        <div class="flex-gt-xs-40">
          {{form.input value=email label="E-Mail" type="email" required=true onChange=(action (mut email))}}
        </div>
        <div class="flex-gt-xs-20">
          {{form.input value=salutation label="Anrede" required=true onChange=(action (mut salutation))}}
        </div>
        <div class="flex-gt-xs-30">
          {{form.input value=lsfid label="LSF-ID" type="number" required=true onChange=(action (mut lsfid))}}
        </div>
        {{#paper-checkbox value=invite onChange=(action (mut invite))}}
        Einladung per E-Mail versenden.
        {{/paper-checkbox}}
      </div>
    </div>
    {{/card.content}}
    {{#card.actions}}
      {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}Speichern{{/form.submit-button}}
    {{/card.actions}}
  {{/paper-form}}
{{/paper-card}}

{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        {{paper-icon "local library"}} Dozierende
      {{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.actions}}
  {{paper-data-paginator
meta=meta
count=resultsLength
limit=limit
limitOptions=limitOptions
page=page
pages=pages
onChangePage=(action (mut page))
onChangeLimit=(action (mut limit))}}
  {{/card.actions}}
  {{#if loading}}
    {{paper-progress-linear}}
  {{/if}}
  {{#card.content}}
    {{#paper-data-table sortProp="name" sortDir="desc" selectable=true as |table|}}
      {{#table.head as |head|}}
        {{#head.column}}{{/head.column}}
        {{#head.column sortProp="givenname" }}Vorname{{/head.column}}
        {{#head.column sortProp="surname" }}Nachname{{/head.column}}
        {{#head.column sortProp="email" }}E-Mail{{/head.column}}
        {{#head.column sortProp="lsfId" }}LSF-ID{{/head.column}}
        {{#head.column sortProp="unreadcomplaintsCount" }}ungelesene Nachrichten{{/head.column}}
        {{#head.column}}Optionen{{/head.column}}
      {{/table.head}}
      {{#table.body as |body|}}
        {{#each (sort-by table.sortDesc paginatedLecturers) as |lec|}}
          {{#body.row edit=true as |row|}}
            {{#row.cell}}{{paper-icon "local library" }}{{/row.cell}}
            {{#row.cell}}{{lec.givenname}}{{/row.cell}}
            {{#row.cell}}{{lec.surname}}{{/row.cell}}
            {{#row.cell}}{{lec.email}}{{/row.cell}}
            {{#row.cell}}{{lec.lsfId}}{{/row.cell}}
            {{#row.cell}}{{lec.unreadcomplaintsCount}}{{/row.cell}}
            {{#row.cell edit=true as |cell|}}
              {{#paper-button iconButton=true onClick=(action "editLecturer" lec)}}{{paper-icon "edit"}}{{/paper-button}}
              {{#paper-button iconButton=true onClick=(action "deleteLecturer" lec)}}{{paper-icon "delete"}}{{/paper-button}}
              {{#paper-button iconButton=true onClick=(action "resendPasswordtoLecturer" lec)}}{{paper-icon "fingerprint"}}{{#paper-tooltip position="left"}}Passwort ändern und zusenden{{/paper-tooltip}}{{/paper-button}}
            {{/row.cell}}
          {{/body.row}}
        {{/each}}
      {{/table.body}}
    {{/paper-data-table}}
  {{/card.content}}
{{/paper-card}}
{{#if showEditLecturerDialog}}{{edit-lecturer-dialog model=model closeDialog=(action "closeEditDialog") lecturer=currentLecturer}}{{/if}}
{{#if showDeleteLecturerDialog}}{{delete-dependency-dialog store=store closeDialog=(action "closeDeleteLecturerDialog") objekt=currentLecturer}}{{/if}}
